.setting-menu {
  text-align: center;
  background-color: #faf6d4;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}
.desc {
  color: white;
  text-align: center;
  width: 50%;
  margin: auto;
}
